/* Fix text selection visibility in dark mode */
::selection {
  background-color: #3390ff !important;
  color: #ffffff !important;
}

::-moz-selection {
  background-color: #3390ff !important;
  color: #ffffff !important;
}
